<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.group_name %></td>
        <td><%= link_to 'Show', game_group_path(@game, group) %></td>
        <td><%= link_to 'Edit', edit_game_group_path(@game, group) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
