<%= form_with scope: :thumb, url: target do |form| %>
  <p>
    <%= form.radio_button :body, '1', :checked => true %> Upvote
    <%= form.radio_button :body, '0' %> Downvote
  </p>

  <p>
    <%= form.submit 'Submit your vote'%>
  </p>
<% end %>